<h1>Keep Calm and Order Pizza!</h1>

<form>
    <input type="text" name="pizza" placeholder="What kind of pizza would you like?">

    <button type="submit">Submit Order</button>
</form>

<h2>Order Up</h2>

<ul>
    {{#each pizza}}
    {{/each}}
</ul>

<h2>Yummy In My Tummy</h2>

<ul>
    {{#each pizza}}
    {{/each}}
</ul>